Options -Indexes
DirectoryIndex index.php index.html

ErrorDocument 404 /404.php

<FilesMatch "\.(sql|env|ini|log)$">
  Require all denied
</FilesMatch>

<Files "database.php">
  Require all denied
</Files>
